@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/assest/img/wallhaven-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  position: relative;
  width: 100vw;
}

.viewbutton {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.profile1 {
  object-fit: cover;
  border: 10px solid #111827;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 768px) {
  #nav-links {
    
    flex-direction: column;
    width: 100%;
    background-color: rgba(31, 41, 55, 0.9); /* Tailwind's bg-gray-900 with opacity */
    position: absolute; /* Position it absolutely */
    top: 100%; /* Position it below the nav bar */
    left: 0; /* Align it to the left */
  }
  #nav-links a {
    padding: 1rem;
    text-align: center;
  }

  
}

