@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/assest/img/wallhaven-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  position: relative;
  width: 100vw;
}

.viewbutton {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

#avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid #111827;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile1 {
  object-fit: cover;
  border: 10px solid #111827;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 768px) {
  #nav-links {
    flex-direction: column;
    width: 100%;
    background-color: rgba(31, 41, 55, 0.9); /* Tailwind's bg-gray-900 with opacity */
    position: absolute; /* Position it absolutely */
    top: 100%; /* Position it below the nav bar */
    left: 0; /* Align it to the left */
  }
  #nav-links a {
    padding: 1rem;
    text-align: center;
  }
 #slideshow {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.itemImg img {
  max-width: 100%;
  max-height: 100%;
}

.itemImg.active {
  display: flex;
  opacity: 1;
  z-index: 50 !important;
}

#prevBtn, #nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
}

.itemImg.slide-in {
  animation: slideIn 1s forwards;
  -webkit-animation: slideIn 1s forwards;
}

.itemImg.slide-out {
  animation: slideOut 1s forwards;
  -webkit-animation: slideOut 1s forwards;
}

.itemImg:not(.active) {
    display: none;
}
  
}

